.save-btn {
  width: 635rpx;
  height: 88rpx;
  margin: 0 auto;
  background: #42BAE9;
  border-radius: 88rpx;
  text-align: center;
  line-height: 88rpx;
  color: #fff;
  margin-top: 60rpx;
}

.red-btn {
  background: #FC4E4E;
}
