.user-add {
  .uni-tag--primary {
    background-color: #68C8ED !important;
    border: 1px solid #68C8ED !important;
  }
  .uni-tag {
    justify-content: center;
    width: 180rpx !important;
    height: 20px !important;
    padding: 0 5px !important;
  }
}
